GEMINI_API_KEY=none

# Copy this file and remove the .example extension
# Replace "none" with your API key. If not,
# Prism will ask for your API Key in-app.
# You can obtain a Gemini API key for free at
# https://aistudio.google.com

# Prism AI uses extremely permissive models,
# With a total of 1.4k RPD for each model
# (1.5 Think and 2 Think)
# TPM is Infinite, and RPM is 15.
# This is more than enough for daily use
# Without experiencing interruptions.

# Update! Model 1.5 Fast has 500 RPD, 250k TPM and 15 RPM.
# Update! Model 1.1 Fast and 1.1 Fast Mini has
# 14k RPD, 20k TPM and 30 RPM.
