GEMINI_API_KEY=none

# Copy this file and remove the .example extension
# Replace "none" with your API key. If not,
# Prism will ask for your API Key in-app.
# You can obtain a Gemini API key for free at
# https://aistudio.google.com
